<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
<%- include("../partials/header.ejs") %>
<main>
<div>
<% for (jersey of jerseys) { %>
<h1>Jerseys Index Page</h1>

<a href="/new"><button>CREATE NEW</button></a>

<a href="/jersey"><button>jersey Page</button></a>

<article>
<a href="/jerseys/<%= jerseys._id %>">
<%= jersey.name%>
</a>
</article>

<% } %>
</div>
</main>
</body>
</html>