<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title: "Jerseys Index Page"}) %>

  <body>
    <h1>Jerseys Index Page</h1>

    <a href="/new"><button>CREATE NEW</button></a>


    <a href="/jersey"><button>jersey Page</button></a>
  </body>
</html>