<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
<%- include("../partials/header.ejs") %>
<main>
<div>
<form action="/fruits" method="post">
  <fieldset>
    <legend>Create a new Jersey</legend>
    <label>Name:<input
      type="text"
      name="name"
      placeholder="name of jersey"
      /></label>
    <label>Team:<input
      type="text"
      name="team name"
      placeholder="name of team"
      /></label>
    <label>Number:<input
      type="number"
      name="number"
      placeholder="number on jersey"
      /></label>
  </fieldset>
 <button>Submit Jersey</button>
</form>
</div>
</main>
</body>
</html>