<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title: "Samples new Page"}) %>

  <body>
    <h1>Create Jersey</h1>

    <form action="/new" method="post">
      <label>Name:<input type="text" name="prop1" /></label>
      <label>Team:<input type="text" name="prop2" /></label>
      <label>Number:<input type="text" name="prop3" /></label>
      <button>Submit</button>
    </form>
  </body>
</html>