<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/head.ejs", {title: "Jerseys new Page"}) %>

  <body>
    <h1>Create Jersey</h1>
  
    <!-- Add a success message -->
    <% if (locals.successMessage) { %>
      <p class="success-message"><%= locals.successMessage %></p>
    <% } %>
  
    <form action="/jersey" method="post">
      <label>Name: <input type="text" name="name" /></label>
      <label>Team: <input type="text" name="team" /></label>
      <label>Number: <input type="text" name="number" /></label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>