<!DOCTYPE html>
<html lang="en">
<body>
<main>
<div>
<h2><%= jersey.name %></h2>
<style>
  h2 {
text-align: center;
  }
</style>
<a href="/jersey/new"><button>Edit</button></a>
<form action="/jerseys/<%= jersey._id %>?_method=DELETE" method="POST">
  <button>Delete</button>
</form>
<a href="/jersey"><button>Back to Main</button></a>
</div>
</main>
</body>
</html>